- form.inputs do
  = form.input :name
  %li#item_klass_input.select.optional
    %label(for="item_klass") Item Class
    = select_tag "item[klass]", options_for_item_klass(@item.klass)
  = form.input :displayid, :label => 'Model (displayid)'
  = form.input :quality, :as => :select, :collection => Item.qualities
  = form.input :flags, :as => :check_boxes, :collection => Item::FLAGS.reject{|f|!f.last}, :label_method => :first, :value_method => :last
  = form.input :Faction, :label => 'Faction'
  = form.input :BuyCount, :label => 'Buy Count',   :hint => 'The size of the item stack when sold by vendors.'
  = form.input :BuyPrice, :label => 'Buy Price',   :hint => 'The price required to pay to buy this item from a vendor, in copper.'
  = form.input :SellPrice, :label => 'Sell Price', :hint => 'The price that the vendor will pay you for the item when you sell it and if it is possible to be sold, in copper. Put in 0 if the item cannot be sold to a vendor.'
  = form.input :InventoryType, :label => 'Inventorytype', :as => :select, :collection => Item.inventory_types, :hint => 'In what slot the item can be equipped.'
  = form.input :AllowableClass, :label => 'Allowableclass'
  = form.input :AllowableRace, :label => 'Allowablerace'
  = form.input :ItemLevel, :label => 'Itemlevel'
  = form.input :RequiredLevel, :label => 'Requiredlevel'
  = form.input :RequiredSkill, :label => 'Requiredskill'
  = form.input :RequiredSkillRank, :label => 'Requiredskillrank'
  = form.input :requiredspell, :label => 'Requiredspell'
  = form.input :requiredhonorrank, :label => 'Requiredhonorrank'
  = form.input :RequiredCityRank, :label => 'Requiredcityrank'
  = form.input :RequiredReputationFaction, :label => 'Requiredreputationfaction'
  = form.input :RequiredReputationRank, :label => 'Requiredreputationrank'
  = form.input :maxcount, :label => 'Maxcount'
  = form.input :stackable, :label => 'Stackable'
  = form.input :ContainerSlots, :label => 'Containerslots'
  = form.input :StatsCount, :label => 'Statscount'
  = form.input :stat_type1, :label => 'Stat type1'
  = form.input :stat_value1, :label => 'Stat value1'
  = form.input :stat_type2, :label => 'Stat type2'
  = form.input :stat_value2, :label => 'Stat value2'
  = form.input :stat_type3, :label => 'Stat type3'
  = form.input :stat_value3, :label => 'Stat value3'
  = form.input :stat_type4, :label => 'Stat type4'
  = form.input :stat_value4, :label => 'Stat value4'
  = form.input :stat_type5, :label => 'Stat type5'
  = form.input :stat_value5, :label => 'Stat value5'
  = form.input :stat_type6, :label => 'Stat type6'
  = form.input :stat_value6, :label => 'Stat value6'
  = form.input :stat_type7, :label => 'Stat type7'
  = form.input :stat_value7, :label => 'Stat value7'
  = form.input :stat_type8, :label => 'Stat type8'
  = form.input :stat_value8, :label => 'Stat value8'
  = form.input :stat_type9, :label => 'Stat type9'
  = form.input :stat_value9, :label => 'Stat value9'
  = form.input :stat_type10, :label => 'Stat type10'
  = form.input :stat_value10, :label => 'Stat value10'
  = form.input :ScalingStatDistribution, :label => 'Scalingstatdistribution'
  = form.input :ScalingStatValue, :label => 'Scalingstatvalue'
  = form.input :dmg_min1, :label => 'Dmg min1'
  = form.input :dmg_max1, :label => 'Dmg max1'
  = form.input :dmg_type1, :label => 'Dmg type1'
  = form.input :dmg_min2, :label => 'Dmg min2'
  = form.input :dmg_max2, :label => 'Dmg max2'
  = form.input :dmg_type2, :label => 'Dmg type2'
  = form.input :armor, :label => 'Armor'
  = form.input :holy_res, :label => 'Holy res'
  = form.input :fire_res, :label => 'Fire res'
  = form.input :nature_res, :label => 'Nature res'
  = form.input :frost_res, :label => 'Frost res'
  = form.input :shadow_res, :label => 'Shadow res'
  = form.input :arcane_res, :label => 'Arcane res'
  = form.input :delay, :label => 'Delay'
  = form.input :ammo_type, :label => 'Ammo type'
  = form.input :RangedModRange, :label => 'Rangedmodrange'
  = form.input :spellid_1, :label => 'Spellid 1'
  = form.input :spelltrigger_1, :label => 'Spelltrigger 1'
  = form.input :spellcharges_1, :label => 'Spellcharges 1'
  = form.input :spellppmRate_1, :label => 'Spellppmrate 1'
  = form.input :spellcooldown_1, :label => 'Spellcooldown 1'
  = form.input :spellcategory_1, :label => 'Spellcategory 1'
  = form.input :spellcategorycooldown_1, :label => 'Spellcategorycooldown 1'
  = form.input :spellid_2, :label => 'Spellid 2'
  = form.input :spelltrigger_2, :label => 'Spelltrigger 2'
  = form.input :spellcharges_2, :label => 'Spellcharges 2'
  = form.input :spellppmRate_2, :label => 'Spellppmrate 2'
  = form.input :spellcooldown_2, :label => 'Spellcooldown 2'
  = form.input :spellcategory_2, :label => 'Spellcategory 2'
  = form.input :spellcategorycooldown_2, :label => 'Spellcategorycooldown 2'
  = form.input :spellid_3, :label => 'Spellid 3'
  = form.input :spelltrigger_3, :label => 'Spelltrigger 3'
  = form.input :spellcharges_3, :label => 'Spellcharges 3'
  = form.input :spellppmRate_3, :label => 'Spellppmrate 3'
  = form.input :spellcooldown_3, :label => 'Spellcooldown 3'
  = form.input :spellcategory_3, :label => 'Spellcategory 3'
  = form.input :spellcategorycooldown_3, :label => 'Spellcategorycooldown 3'
  = form.input :spellid_4, :label => 'Spellid 4'
  = form.input :spelltrigger_4, :label => 'Spelltrigger 4'
  = form.input :spellcharges_4, :label => 'Spellcharges 4'
  = form.input :spellppmRate_4, :label => 'Spellppmrate 4'
  = form.input :spellcooldown_4, :label => 'Spellcooldown 4'
  = form.input :spellcategory_4, :label => 'Spellcategory 4'
  = form.input :spellcategorycooldown_4, :label => 'Spellcategorycooldown 4'
  = form.input :spellid_5, :label => 'Spellid 5'
  = form.input :spelltrigger_5, :label => 'Spelltrigger 5'
  = form.input :spellcharges_5, :label => 'Spellcharges 5'
  = form.input :spellppmRate_5, :label => 'Spellppmrate 5'
  = form.input :spellcooldown_5, :label => 'Spellcooldown 5'
  = form.input :spellcategory_5, :label => 'Spellcategory 5'
  = form.input :spellcategorycooldown_5, :label => 'Spellcategorycooldown 5'
  = form.input :bonding, :label => 'Bonding'
  = form.input :description, :label => 'Description'
  = form.input :PageText, :label => 'Pagetext'
  = form.input :LanguageID, :label => 'Languageid'
  = form.input :PageMaterial, :label => 'Pagematerial'
  = form.input :startquest, :label => 'Startquest'
  = form.input :lockid, :label => 'Lockid'
  = form.input :Material, :label => 'Material'
  = form.input :sheath, :label => 'Sheath'
  = form.input :RandomProperty, :label => 'Randomproperty'
  = form.input :RandomSuffix, :label => 'Randomsuffix'
  = form.input :block, :label => 'Block'
  = form.input :itemset, :label => 'Itemset'
  = form.input :MaxDurability, :label => 'Maxdurability'
  = form.input :area, :label => 'Area'
  = form.input :Map, :label => 'Map'
  = form.input :BagFamily, :label => 'Bagfamily'
  = form.input :TotemCategory, :label => 'Totemcategory'
  = form.input :socketColor_1, :label => 'Socketcolor 1'
  = form.input :socketContent_1, :label => 'Socketcontent 1'
  = form.input :socketColor_2, :label => 'Socketcolor 2'
  = form.input :socketContent_2, :label => 'Socketcontent 2'
  = form.input :socketColor_3, :label => 'Socketcolor 3'
  = form.input :socketContent_3, :label => 'Socketcontent 3'
  = form.input :socketBonus, :label => 'Socketbonus'
  = form.input :GemProperties, :label => 'Gemproperties'
  = form.input :RequiredDisenchantSkill, :label => 'Requireddisenchantskill'
  = form.input :ArmorDamageModifier, :label => 'Armordamagemodifier'
  = form.input :Duration, :label => 'Duration'
  = form.input :ItemLimitCategory, :label => 'Itemlimitcategory'
  = form.input :HolidayId, :label => 'Holidayid'
  = form.input :ScriptName, :label => 'Scriptname'
  = form.input :DisenchantID, :label => 'Disenchantid'
  = form.input :FoodType, :label => 'Foodtype'
  = form.input :minMoneyLoot, :label => 'Minmoneyloot'
  = form.input :maxMoneyLoot, :label => 'Maxmoneyloot'
