- form.inputs do
  = form.input :username
  = form.input :password
  = form.input :gmlevel, :label => "Type", :as => :select, :collection => Account.gmlevels
  = form.input :email, :as => :string
  = form.input :expansion, :as => :select, :collection => Account.expansions
  = form.input :locked, :as => :boolean
